{% extends "layout.html" %}
{% block main%}
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form action="/student/register", method="POST">
                <div class="form-group mb-3">
                    <input class="form-control mr-3 mb-3" type="text" name="student" placeholder="Username">
                    <input class="form-control mr-3 mb-3" type="password" name="password" placeholder="Password">
                    <input class="form-control mr-3 mb-3" type="password" name="rpassword" placeholder="Repeat password">
                    <input class="form-control mr-3 mb-3" type="mail" name="email" placeholder="Email address">
                    <input class="form-control mr-3 mb-3" type="number" name="acyear" placeholder="Academic Year">
                </div>
                <button class="form-control btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
